body
{
	/*background: #0f1a12;*/
	background-image: url('assets/persistent Page.png');
	background-size: 100% 100%;
	font-family: sans-serif;
	margin: 0;
}

@font-face 
{
	font-family: 'BRAVE Eightyone Regular';
	src: url(fonts/BraveEightyoneRegular-ZVGvm.ttf) format('truetype')
}

img
{
	margin-bottom: -4px;
}

.center-block
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content
{
	padding: 20px;
}

.row
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.col-100
{
	flex: 0 0 100%
}

.col-80
{
	flex: 0 0 80%
}

.col-75
{
	flex: 0 0 75%
}

.col-66
{
	flex: 0 0 66%
}

.col-60
{
	flex: 0 0 60%
}

.col-50
{
	flex: 0 0 50%
}

.col-40
{
	flex: 0 0 40%
}

.col-33
{
	flex: 0 0 33%
}

.col-25
{
	flex: 0 0 25%
}

.col-20
{
	flex: 0 0 20%
}


@media only screen and (min-width: 800px)
{
	.col-md-100
	{
		flex: 0 0 100%
	}
	
	.col-md-80
	{
		flex: 0 0 80%
	}
	
	.col-md-75
	{
		flex: 0 0 75%
	}
	
	.col-md-66
	{
		flex: 0 0 66%
	}
	
	.col-md-60
	{
		flex: 0 0 60%
	}
	
	.col-md-50
	{
		flex: 0 0 50%
	}
	
	.col-md-40
	{
		flex: 0 0 40%
	}
	
	.col-md-33
	{
		flex: 0 0 33%
	}
	
	.col-md-25
	{
		flex: 0 0 25%
	}
	
	.col-md-20
	{
		flex: 0 0 20%
	}
}

@media only screen and (min-width: 1200px)
{
	.col-lg-100
	{
		flex: 0 0 100%
	}
	
	.col-lg-80
	{
		flex: 0 0 80%
	}
	
	.col-lg-75
	{
		flex: 0 0 75%
	}
	
	.col-lg-66
	{
		flex: 0 0 66%
	}
	
	.col-lg-60
	{
		flex: 0 0 60%
	}
	
	.col-lg-50
	{
		flex: 0 0 50%
	}
	
	.col-lg-40
	{
		flex: 0 0 40%
	}
	
	.col-lg-33
	{
		flex: 0 0 33%
	}
	
	.col-lg-25
	{
		flex: 0 0 25%
	}
	
	.col-lg-20
	{
		flex: 0 0 20%
	}
}

.box-1
{
	background-image: url('assets/Button 1.png');
	background-size: 100% 100%;
}

.box-2
{
	background-image: url('assets/Button 2.png');
	background-size: 100% 100%;
}

.box-3
{
	background-image: url('assets/Button 3.png');
	background-size: 100% 100%;
}

.box-4
{
	background-image: url('assets/Button 4.png');
	background-size: 100% 100%;
}

.box-5
{
	background-image: url('assets/Button 6.png');
	background-size: 100% 100%;
}

.box-6
{
	background-image: url('assets/Button 7.png');
	background-size: 100% 100%;
}

.box-7
{
	background-image: url('assets/Button 8.png');
	background-size: 100% 100%;
}
