body
{
	font-family: sans-serif;
	margin: 0;
}

img
{
	margin-bottom: -4px;
}

#discord-widget
{
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.center-block
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-center
{
	text-align: center;
}

.mt50
{
	margin-top: 50px;
}

.w25
{
	width: 25%;
}

.w50
{
	width: 50%;
}

.w75
{
	width: 75%;
}

.w100
{
	width: 100%;
}
