body
{
	font-family: sans-serif;
	margin: 0;
}

img
{
	margin-bottom: -4px;
}

@media only screen and (max-width: 1200px)
{
	#discord-widget
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 350px;
	}
}

@media only screen and (min-width: 1200px)
{
	#discord-widget
	{
		position: fixed;
		bottom: 10px;
		right: 14px;
	}
}

.center-block
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-center
{
	text-align: center;
}

.mt50
{
	margin-top: 50px;
}

.w25
{
	width: 25%;
}

.w50
{
	width: 50%;
}

.w75
{
	width: 75%;
}

.w100
{
	width: 100%;
}
